
/* website colors

Dark Blue:  #114e92
Blue:       #0f8ddd
Light Blue: #34c1ee
Green:      #37c757


*/

body {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

p {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

.section-header h1 {
  color: #f2f2f2;
  text-align: center;
}

.section-header {
  text-align: center;
  width: 95%;
  margin: auto;
  background-color: #457b9d;
}

.date {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

.left-align {
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}

.footer-left-align {
  text-align: left;
}

.timeline h1 {
  color: #114e92;
  text-align: center;
}

.center {
  text-align: center;
}

.center-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.topnav {
  overflow: hidden;
  background-color: #114e92;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #0f8ddd;
  color: black;
}

.topnav a.active {
  background-color: #34c1ee;
  color: white;
}

.summery-box {
  border: 2px solid #114e92;
  border-radius: 15px;
  margin: 20px;
  text-align: left;
  text-indent: 20px;
}

.summery-box a {
  color: black;
  text-decoration: none;
  padding: 10px 10px;
}

.summery-box:hover {
  background-color: #0f8ddd;
}

footer {
  position: relative;
  text-align: right;
  padding: 14px 14px;
  background-color: #114e92;
  color: white;
}
