body {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

p {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

.section-header h1 {
  color: #f2f2f2;
  text-align: center;
}

.section-header {
  text-align: center;
  width: 95%;
  margin: auto;
  background-color: #457b9d;
}

.date {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

.left-align {
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}

.footer-left-align {
  text-align: left;
}

.timeline h1 {
  color: #f2f2f2;
  text-align: center;
}

.center {
  text-align: center;
}

.center-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.topnav {
  overflow: hidden;
  background-color: #84a59d;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #f7ede2;
  color: black;
}

.topnav a.active {
  background-color: #f28482;
  color: white;
}

.summery-box {
  border: 2px solid #84a59d;
  border-radius: 15px;
  margin: 20px;
  text-align: left;
  text-indent: 20px;
}

.summery-box a {
  color: black;
  text-decoration: none;
  padding: 10px 10px;
}

.summery-box:hover {
  background-color: #f7ede2;
}




footer {
  position: relative;
  text-align: right;
  padding: 14px 14px;
  background-color: #84a59d;
  color: white;
}
