    body {
      margin: auto;
      font-family: Arial, Helvetica, sans-serif;
      background-color: white;
    }

    p {
      max-width: 70%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    h1 {
      text-align: center;
    }
    
    .section-header h1 {
        color: #f2f2f2;
        text-align: center;
      }

    .section-header {
      text-align: center;
      width: 95%;
      margin: auto;
      background-color: #457b9d;
    }

    .date {
      text-align: left;
      margin-left: 5%;
      margin-right: 5%;;
    }

    .left-align {
      text-align: left;
      margin-left: 10%;
      margin-right: 10%;
    }
    
    .footer-left-align {
      text-align: left;
    }

    .timeline h1 {
      color: #f2f2f2;
      text-align: center;
    }

    .center {
      text-align: center;
    }
 
    .topnav {
      overflow: hidden;
      background-color: #457b9d;
    }
    
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: #f1faee;
      color: black;
    }
    
    .topnav a.active {
      background-color: #a8dadc;
      color: white;
    }

    .summery-box {
      border: 2px solid black;
      margin: 20px;
      text-align: left;
      text-indent: 20px
    }

    .summery-box a {
      color: black;
      text-decoration: none;
      padding: 10px 10px;
    }

    footer {
      position:relative;
      text-align: right;
      padding: 14px 16px;
      background-color: #457b9d;
      color: #f2f2f2;
    }